[@import snippets/head.html title="Loops and Arrays"]

<h2>List Comprehension</h2>

<p>
  All the variables we have seen thus far have stored one value at a time. This is fine for distinct steps, like when we're storing a basic calculation or writing a choose-your-own-adventure story. But what if we wanted to store a lot of items, like a list of tasks for a to-do list? When using individual variables for each item, this gets awkward in a hurry.

<code>
var listItem1 = "Take out the trash";
var listItem2 = "Walk the dog";
var listItem3 = "Do laundry";
var listItem4 = "Buy groceries";
</code>

<p>
  We're quickly drowning in new variable names (and not very good variable names at that). More importantly, what if we need to store more than 4 items? We've only made four variables--we'd have to create one for each possible item that we could have in our list, and imagine the complicated code to check which ones have actually been filled out. Clearly, this solution of individual variables doesn't scale very well. It's also repetitious, and that's what we call a <mark>code smell</mark>: an ugly pattern that warns us we're doing something wrong, the same way that a pungent whiff when we open the fridge is a clue that the milk is well on its way to becoming yoghurt instead.

<p>
  Luckily, we have a solution. An <mark>array</mark> is a special kind of JavaScript variable type that contains other values in a numbered list. We can declare an array by putting some values between square brackets, like so:

<code>
var alphabet = ['a', 'b', 'c'];
</code>

<p>
  To get values back out of the array, we use square brackets after the variable name, with a number between the brackets to say <i>which</i> item we want to pull out of the list. There's a catch, though: although we normally begin lists with #1, in JavaScript the first item in an array is #0, and we count up from there. The number associated with an item is its <mark>index</mark>. If you think of an array as a street of houses, the index is its house number--the number isn't the house itself, it simply tells us where to find what we're really interested in. 

<aside>

  <h1>Why Do Arrays Start at Zero?</h1>

  <p>
    The answer, like so many problems in JavaScript, is "blame Java." Although under the hood they have almost nothig in common, when JavaScript was invented one of the demands was that it should "look like Java" to catch the popularity of Sun's new programming language (hence the name). In Java, arrays start at zero.

  <p>
    Why do arrays start at zero in Java? Like so many problems in <i>that</i> language, the answer is "blame C," which Java was designed to mimic in order to make existing programmers more comfortable (sensing a pattern?). An early programming language, C allowed developers to work directly with memory, using something called a pointer. The array operator in C tells the computer to start at the memory address in the pointer, then move forward by some number of units. For the first item, you move forward zero units (because it's the first). It made sense at the time.

  <p>
    There are, of course, languages that start at 1 instead of 0, like Lua and Visual Basic. For various reasons, these languages have tended not to take off, although I doubt the choice of zero as the first array index has anything to do with it. And zero-indexing has some nice side effects for writing loops. But in the meantime, you might as well just get used to it.

</aside>

<code>
alphabet[2]; //gets the third item, because the list starts at index 0
</code>
<samp>
'c'
</samp>

<p>
  Getting an array value by index is an expression like any other, which means we can store it in a variable if we want. Sometimes that's useful, because it saves us a lot of typing.

<code>
var a = alphabet[0];
console.log(a); // logs "a"
console.log(alphabet[1]); //logs "b"
</code>

  What if we try to access an item in a list that doesn't exist? In that case, the value that comes back is <var>undefined</var>, because we haven't put anything in that section of the list yet. We can place an item in any location in the list, including an undefined location, by using the same square brackets that we used to get values out. But be careful: if we forget the square brackets entirely, we'll be talking about the <i>list as a whole</i> and not an item in the list.

<code>
var todo = ['take out trash', 'walk dog', 'do laundry'];
todo[3] = 'buy groceries'; //sets the fourth item (remember, we start at 0)

todo = "learn about arrays"; 
console.log(todo); //"learn about arrays"
//Oh no! Instead of adding a fifth item, 
//we replaced the array with a string!
</code>

<p>
  You can store any kind of value in an array, including another array if you want (think of it as a list of columns or rows, like a spreadsheet). Most of the time, though, we try to make arrays contain the same type of value. We might have a list of numbers, or a list of names, but we wouldn't want to mix the two up, because it will make it hard to treat those values the same--and if we can't treat them the same, why put them in the same list together?

<p>
  In addition to the numbered values inside an array, they also have a special property that tells you how many items the array currently contains. This property is the <var>length</var> property. Since arrays start at index #0, the length will always be one more than the highest item index in the array--i.e., an array with a <var>length</var> of 4 will have its last item at <var>[3]</var>.

<code>
var animals = ['dog', 'cat', 'duck'];
animals.length == 3; // true, last item is animals[2]
</code>

<p>
  If you know the length, you can add to a list by adding new items at the same index as that length, because that will be one more than the last item. But keeping track of that is slow, and the resulting code is pretty ugly. It's a lot easier to add items to a list by using the built-in <var>push()</var> function on the list.

<code>
//create a new item the ugly way
animals[animals.length] = "tiger"

//here's the simpler way
animals.push("lion");
animals.push('bear');
//now animals has two more items: the strings "lion" and "bear"
</code>

<h2>Looping</h2>

<p>
  The fundamental truths about computers are two-fold:

  <ul>
    <li> Computers are very stupid, and
    <li> Computers are very fast
  </ul>

  As you've probably noticed, the fact that computers are stupid means that we have to explain what we want in painstaking detail. But on the other hand, the fact that they are so fast means that they can perform those simple tasks fast enough to <i>look</i> smarter than they are. Computers also don't get bored, which means that they are extremely good at repeating themselves.

<p>
  In contrast, people are not good at repeating themselves. We get bored, we make mistakes, and we cut corners. One of the most important roles of a programming language, therefore, is to reduce the amount of repetition that the programmer must do. If you find yourself repeating lines of code, or (heaven forbid!) copying and pasting it from place to place, this is also a code smell. The computer is better at repetition than you are--let it do what it does best.

<p>
  So how do we tell a computer to repeat an action more than once? The most common way is what's called a <var>for</var> loop, because it starts with the keyword <var>for</var> (it's not original, but it is descriptive). A loop is composed of several parts, much like our <var>if/else</var> statements were. Loops in JavaScript start with the <var>for</var> keyword, followed by parentheses and then by a block of code to repeat--so far, this is very similar to our <var>if</var> statements. The difference comes inside the parentheses. Loops require three statements, separated by semicolons, each of which tells the computer some necessary information about the loop:

<code class="prettyprinted">
<span class="kwd">for</span> (<b style="color: red">setup</b>; <b style="color: green">conditional</b>; <b style="color: blue">change</b>) {
  //...
}
</code>

  <ul>
    <li> The <mark style="color: red">setup</mark> contains code that's run <i>before the loop starts</i>. This is where we put any pre-loop initialization code. 
    <li> The <mark style="color: green">conditional</mark> tells the computer how long to run the loop. As long as this conditional is true, the loop will keep executing--or, to put it another way, it will repeat until the conditional is false.
    <li> Finally, the <mark style="color: blue">change</mark> is a line of code that will run after each loop. Eventually, the change should cause the conditional to be false, and end the loop.
  </ul>

<p>
  That's a loop in theory. Here's some practice: a loop that prints the numbers from 0 to 99:

<code>
for (var i = 0; i &lt; 100; i = i + 1) {
  console.log(i);
}
</code>

  This is a pretty complicated piece of code, compared to what we've done before. Let's break it down into its individual parts. 
  
  <ol>
    <li> In the setup part of the loop, we created a variable <var>i</var> to keep track of how many times the loop had repeated, starting with 0. 
    <li> Our condition says to repeat as long as <var>i</var> is less than 100, meaning that it will repeat 100 times (remember, it starts at 0). 
    <li> Finally, our change section of the loop adds 1 to <var>i</var> each time we reach the end of the loop--important, because otherwise it would never be greater than 99, which means our condition would never be false, and the code would run forever (or, realistically, until the browser shuts it down for being disruptive--usually about 15 seconds).
  </ol>

<p>
  The possibility of a never-ending, infinite loop makes looping arguably the riskiest construct in JavaScript. On the other hand, it may be the most powerful construct, just in terms of being able to reduce the amount of code you write. For example, consider taking a list of prices and discounting them all by $2. Without loops, we're forced to basically treat each item in the loop as an individual variable, with all the problems that entails.

<code>
var prices = [10, 12, 20, 8, 17];
prices[0] = prices[0] - 2;
prices[1] = prices[1] - 2;
prices[2] = prices[2] - 2;
prices[3] = prices[3] - 2;
prices[4] = prices[4] - 2;
</code>

<p>
  If you really look at this code critically, there's a lot of repetition going on. In fact, lines 2-6 are exactly the same, except that they change the array index for the item that's being discounted. That's a perfect case for a variable: instead of writing the array index directly, we'll use a variable and then just repeat the expression, changing the value of the variable each time. Using a loop, we can write this code only once:

<code>
var prices = [10, 12, 20, 8, 17];
for (var i = 0; i &lt; prices.length; i = i + 1) {
  prices[i] = prices[i] - 2;
}
</code>

  Much shorter! Now we've taken all those lines of code and <i>generalized</i> them into a process that our loop can repeat.

  <ol>
    <li> First we define our array, <var>prices</var>.
    <li> Next we set up our loop:
      <ol>
        <li> <var>var i = 0</var> (the setup): we define a variable <var>i</var> to keep track of our array location, starting at 0 (the first index of all arrays).
        <li> <var>i &lt; prices.length</var> (the condition): we say that we will keep going as long as our index-tracking variable <var>i</var> is less than the length of the array. That means it will go all the way to the last item, since the index of the last item is always one less than the <var>length</var> property of the array.
        <li> <var>i = i + 1</var> (the change): after each repetition, we add one to <var>i</var>, meaning that we have moved up to the next item in the array. 
      </ol>
    <li> Finally, we perform the actual process inside the loop block, between the curly braces. In this case, we've taken the code from above, but instead of using a literal number between the square brackets, we just use <var>i</var>. As the loop runs, we'll start at <var>prices[0]</var>, and work our way up until we trigger the condition by running out of array items (when the index is the same as the <var>length</var>).
  </ol>

<aside>

  <h1>Add One, Call Me in the Morning</h1>

  <p>
    It turns out that adding one to a number value is a very, very common task in programming. It's so common, there's even a special operator for it, which you'll see used in many of the examples below:

  <code>
//instead of writing
i = i + 1;

//you can write
i++;
  </code>

  <p>
    If you're interested, <var>++</var> is not the only useful arithmetic operator. The Mozilla Developer Network has <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Operators/Arithmetic_Operators">notes on a few more</a>.

</aside>

<p>
  I often find that it's helpful to think of loops and arrays using some kind of spatial metaphor, like a row of houses. Imagine that you're working as a pollster on a street of houses, starting with #0 and working your way to the end of the block. You'd like to know how many people answer true to a polling question. Unfortunately, you're not able to visit the houses yourself, but you have an assistant that you can send to each house, as long as you explain exactly what you want her to do. It might work something like this:

[@import interactives/houses.html]
<script>
require(['interactives/HouseLoop']);
</script>

<p>
  You may have noticed that we've written all these loops in a similar way. We've used the variable <var>i</var> each time, and the structure always tends to look like this:

<code>
//remember, i++ is the same as i = i + 1
for (var i = 0; i &lt; arrayToLoopOver.length; i++) {
  var currentItemInArray = arrayToLoopOver[i];
  // ...
}
</code>

  As far as programming can have a standard loop, this is the form of it. Remember this basic structure every time you want to loop over an array and do something to each item. You'll also encounter this often in other people's code. The variable names may change (although <var>i</var> as the index variable is traditional), but the structure of running through our list by adding one to an index counter is very, very common.

<p>
  Loops and arrays are a natural pair: using arrays, you can store an unknown number of values without having to manually code for every eventuality, and loops give you a way to express what you want to do to those items without writing out every single operation. In addition to <var>for</var> loops, there are also <var>while</var> loops, but these are much more likely to go awry and never stop. A <var>while</var> loop doesn't have any setup or change sections inside its declarative parentheses--only a condition. It'll loop as long as that condition is true. We might mimic the array loops that we've done so far like this:

<code>
var names = ['Sarah', 'Jacob', 'Juan', 'Amon'];
var index = 0;
while (index &lt; names.length) {
  console.log(names[index]);
  index++; //careful: if you forget or remove this line, the loop never ends.
}
</code>

<p>
  You can think of a <var>while</var> loop as an <var>if</var> statement that repeats, which gives them a kind of elegance. <var>for</var> loops require us to use a slightly more awkward syntax: you have to remember which part is the setup, which is the conditional, and which is the change. You also have to remember the semicolons that separate those individual parts. But I find that in practice, <var>for</var> loops are harder to mess up. Because they must have all three parts, they encourage you to write loops that will eventually end--whereas, in a <var>while</var> loop, a math error or a forgotten line can lead to infinite looping. Still, they have their uses, and it's good to be familiar with them.

<h2>Example Code</h2>

<p>
  Processing lists is a common task in every programming language, and JavaScript is no different. In the following code, we'll use a series of loops to find the highest, lowest, and total of the items in a list of numbers.

[@import interactives/timelapse.html src="../../js/interactives/data/loops.time" id="loops"]

<h2>Exercises and Practice Questions</h2>

<ul>
  <li> So far, we've looped over each item in a list by adding one. What would you change about a traditional loop if you wanted to only do something to <i>every other</i> item instead? What about every third item?
  <li> Likewise, what if we wanted to leave the first or last item alone? How would you change the loop to make that possible?
  <li> In some cases, we don't want to work through the list forward, we might want to do it backward. How would you write a loop that starts at the last item, and ends with the first?
</ul>


[@import snippets/scripts.html]

[@import snippets/foot.html]
