[@import snippets/head.html title="Beginning jQuery"]

<h2>Find, Do</h2>

<p>
  Technically speaking, the standard for JavaScript doesn't include any information on input and output. It's meant to be a hosted language, living inside another program--in this case, the browser. But since it has been used in browsers for so long, input and output in JavaScript usually means using functions that search and update web pages. The problem is that these functions are, in a word, terrible. They have long, confusing names. They return values that look like regular JavaScript values, but aren't. They have poor default settings.

<p>
  Almost immediately after interactive web pages became possible, people began writing helper scripts that would "wrap" these poorly-engineered browser functions in more convenient forms. The most popular of these is jQuery, which was invented in 2005 by John Resig. It's not always the most advanced library, or the most comprehensive. But it has been one of the easiest to use, with a clean and fluent interface and a metric ton of plugins to cover a wide variety of use cases. For that reason, we'll be learning jQuery in this book, but you should also familiarize yourself with other popular helper libraries.

<aside>

  <h1>Everyone Else</h1>

  <p>
    JavaScript libraries are like opinions: everyone has one, and theirs is always the best. But beyond the jQuery bubble, there are a lot of really interesting, powerful ideas being written. Even if you don't commonly use them, it's worth checking out a few alternatives just to see what they do well, and what you can learn.

    <ul>
      <li> <a href="http://yuilibrary.com">YUI</a> - An incredibly comprehensive system created at Yahoo! that covers everything from basic page manipulation to large-scale application design. Somehow, YUI has never become popular, a fact I attribute to its slightly clumsy interface (and the fact that most coders are vaguely embarrassed by the name "Yahoo!").
      <li> <a href="http://dojotoolkit.org">Dojo</a> - Much like YUI, Dojo is an "everything-and-the-kitchen-sink" library organized into a wide range of modules.
      <li> <a href="http://zeptojs.com">Zepto</a> - A jQuery-compatible library meant to be smaller and faster on mobile devices. This library only works reliably on Webkit-based browsers.
      <li> <a href="http://prototypejs.org">Prototype</a> - One of the early competitors to jQuery, Prototype has fallen by the wayside, particularly as some of its innovations--namely, altering the built-in page objects to make them more user-friendly--have fallen out of fashion. 
    </ul>

</aside>

<p>
  jQuery is based on a "find tags, then do something to them" philosophy. Its primary innovation was the ability to look for elements on the page using CSS selectors. If you've done any CSS, you should be familiar with selectors: they're the rules that you set up to specify which parts of the page get a certain style. This book assumes that you know enough to write some simple selectors, but here's a basic review:

<table id="selectors">
  <tr>
    <th width=170>Selector
    <th>Meaning
    <th>Example
  <tr>
    <td><var>tag</var>
    <td>Finds all tags matching the selector
    <td><code>li, div, h1</code>
  <tr>
    <td><var>.class</var>
    <td>Finds all elements with a given class name
    <td><code>.content, .external, .dialog-box</code>
  <tr>
    <td><var>#id</var>
    <td>Finds a single element with the specified ID
    <td><code>#main, #menu, #next</code>
  <tr>
    <td><var>parent > child</var>
    <td>Finds child elements that are directly inside the parent
    <td><code>body > h1</code>
  <tr>
    <td><var>ancestor child</var>
    <td>Finds any child elements that are anywhere inside the ancestor element
    <td><code>body a</code>
</table>

<p>
  For more information on CSS and CSS selectors, you may want to check out <a href="https://developer.mozilla.org/en-US/docs/CSS/Getting_Started">this comprehensive guide</a> from Mozilla.
  
<aside>

  <h1>The DOM</h1>

  <p>
    If you've only written HTML and CSS, chances are you're used to thinking of the page as plain text, with tags that tell act kind of like the bold or italic buttons in a word processor: start a certain kind of formatting here, stop it elsewhere. But JavaScript sees the page differently--the same way the browser sees it. And the browser "sees" your HTML document by converting it into a tree of nested elements, called the <mark>Document Object Model</mark> or the <mark>DOM</mark> for short.

  <p>
    There are lots of metaphors we could use, but the easiest way to visualize the conversion from text to data structure is to open up your development tools and switch to the "HTML" or "Elements" tab (depending on your browser). You'll probably see only a few tags at first--probably the &lt;head&gt; and &lt;body&gt; tags--but if you click the indicator next to these elements (it probably looks like a + or a triangle) you can expand it to see the elements inside each parent element, all eventually rooted in the &lt;html&gt; element that surrounds everything on the page. Keep this arrangement in mind when we find ourselves talking about "sibling," "parent," "child," or "ancestor" elements.

  <p>
    Although we often use the terms "tag" and "element" to mean the same thing, looking at this view of the document makes a distinction clear. When it's in plain text, we write tags with attributes. The browser then converts that to a data structure made up of elements, fixing any misplaced or unknown tags along the way. Some people are sticklers for proper usage, insisting that we should only call &lt;div&gt; or &lt;p&gt; "tags" if they're in text format. But in this document, for reasons of readability if nothing else, we'll use them interchangeably.

</aside>

<p>
  In the last few chapters, we've been loading scripts using the script tag, either inline or external via the <var>src</var> attribute. Now it's time to open up the developer tools again, using both the console and the HTML views (Chrome currently calls this "Elements"). While still on this page, from the console, type the following code, pressing enter after each line:

<code>
var rows = $('#selectors tr');
rows.hide();
rows.fadeIn();
</code>

<p>
  You should see the table of selectors above vanish and then reappear with a fade effect. Our first function call, <var>$('#selectors tr')</var>, told jQuery to find any <var>&lt;tr&gt;</var> tags inside of the <var>#selectors</var> element (the table has an ID of "selectors"). jQuery actually creates two functions that you can use for finding elements, <var>$</var> and <var>jQuery</var>, but most people use the shorter form, so we will too. Then we called the <var>hide()</var> and <var>fadeIn()</var> methods on the resulting object, causing it to do exactly those actions. If you watch in the HTML/Elements tab, you'll see the inline styles for those parts of the page change (usually this change is highlighted in yellow). 

<p>
  For right now, let's just concentrate on searching for elements on the page using jQuery. Try using the following jQuery selections in your console, and then mouse over them in the resulting output line. You should see the elements highlighted on the page when you hover over each one in the array-like jQuery object that's returned.

<code>
$('code'); //finds all code elements
$('code:first'); //finds just the first code element
$('p:odd'); //finds only odd-numbered paragraph tags
$('td, th'); //finds both th and td tags
$('table > td'); //finds td tags that are direct children of the table
</code>

<p>
  You'll notice that not all of these are valid <a href="http://www.w3.org/TR/selectors/">CSS3 selectors</a>. <var>:odd</var>, for example, is not defined in the W3C specification, even though it's very useful. jQuery defines a number of these custom selectors in order to save you some time, and also because that way they can support it in all browsers (the W3C equivalent to <var>:odd</var>, <var>:nth-child</var>, doesn't work in older browsers like IE). If you'd like more information, the jQuery documentation includes a page listing <a href="http://api.jquery.com/category/selectors/">all the selectors</a> (standard or not) supported by jQuery.

<p>
  That last query tells us something interesting: there are no <var>&lt;td&gt;</var> tags that are direct children of the table tag, because they're all contained in a <var>&lt;tr&gt;</var> tag and <i>then</i> in the table (sometimes there's also a <var>&lt;tbody&gt;</var> between the two as well). In that case, jQuery doesn't throw an error, even if you try to call functions like <var>hide()</var> or <var>fadeIn</var> on the resulting object. Instead, the result is an empty array, and the functions are simply ignored. Since jQuery objects are "array-like," the way to test whether or not you've found something is (just as with arrays) to check the <var>length</var> property.

<code>
if ($('table > td').length > 0) {
  //do something with the query here
  //you can also just test the length by itself--non-zero numbers are truthy
}
</code>

<p>
  Whenever we call the jQuery function (through <var>$</var> or <var>jQuery</var>) and pass in a selector, what we get back is a special object that contains a huge number of functions for changing the selected elements. It also contains functions for finding other elements, using the current selection as a starting place. For example, you might want to locate a menu, and then find different child elements in order to give them a certain appearance or behavior:

<code>
var menu = $('.menu');
//now, starting from the menu, we'll find different items inside
var listItems = menu.find('li');
var links = menu.find('li > a');
var submenus = menu.find('ul');
</code> 

<p>
  The complete list of functions for navigating around the document (or <mark>traversing</mark> it) this way are listed in jQuery's <a href="http://api.jquery.com/category/traversing/">traversal function documentation</a>, but the most useful ones include:

<table>
  <tr>
    <th>Function
    <th>Role
  <tr>
    <td><var>find()</var>
    <td>Given a selector, find any elements matching it inside the current selection
  <tr>
    <td><var>children()</var>
    <td>If called with a selector, finds all direct child elements matching it. If called without, returns all child elements.
  <tr>
    <td><var>parent()</var>
    <td>Returns the parent element (there's only one possible parent)
  <tr>
    <td><var>closest()</var>
    <td>Returns the nearest ancestor element matching the selector. This includes the current element, so running <var>$('li').closest('li')</var> will return the same objects you started with.
  <tr>
    <td><var>next()</var>
    <td>If called without a selector, it returns the next element with the same parent. If you provide a selector, it only finds the next element if it matches.
  <tr>
    <td><var>prev()</var>
    <td>Same as <var>next()</var>, but working in the opposite direction (up the page instead of down).
</table>

<aside>

  <h1>Refresh to Revert</h1>

  <p>
    In this chapter, we'll be doing our fair share of page manipulation, and there's always a chance with that kind of thing that you could hide or remove something you needed--like, perhaps, this text! If that happens, don't worry and don't panic. Changes made with JavaScript only alter the page in the browser's memory, not on your hard drive or on the server. If something goes wrong, just refresh the page, and it'll be reverted back to its original state, good as new.

</aside>

<h2>Manipulation</h2>

<p>
  Finding elements with jQuery is all well and good, but what do we do with them once we have them? The answer comes in the form of the <a href="http://api.jquery.com/category/manipulation/">manipulation</a> functions. The simplest form of manipulation is just to replace the contents of an element using <var>html()</var>. For example, there's an element after this paragraph with an ID of "substitute." Let's change its contents by running the following code from the console.

  <div id="substitute"></div>

<code>
$('#substitute').html('This space intentionally left blank.');
</code>

<p>
  Note that when we change the page using jQuery, for most changes, jQuery will apply our alteration to all of the objects you selected--whether that's just one element (as above) or a long list. For example, <var>$('p').html('replaced')</var> will change the contents of every &lt;p&gt; tag on the page. You don't have to write a loop to affect each selected element, because jQuery will do it for you. Just make sure your selectors are accurate, since it will also happily affect elements that you didn't intend to target.

<p>
  The <var>html()</var> function is, like many of jQuery's functions, both what we call a <mark>getter</mark> and a <mark>setter</mark>. By this, I mean that it can either get the inner HTML of an element, or it can set it. If you call <var>html()</var> without providing any input, as below, you'll get back the contents of the element.

<code>
$('#substitute').html(); //should be what you previously inserted here
</code>

<p>
  You can type any string you want into the <var>html()</var> function, including other HTML tags. While that's not the most efficient way to construct a page, it's a useful ability to have. We can already imagine being able to create a large numbered list using a loop and some jQuery:

<code>
var list = "";
for (var i = 0; i &lt; 100; i++) {
  list = list + "&lt;li&gt; #" + i;
}
$('#substitute').html(list);
</code>

  You can also feed a jQuery object into <var>html()</var>, which will remove those objects from their current location and insert them into the selected element or elements. For example, we might grab the first code example off this page, and insert it into our substitute element:

<code>
var code = $('code:first');
$('#substitute').html(code);
</code>

<p>
  If you want to keep the current contents, but add to them, you might consider using <var>append()</var> instead of <var>html()</var>. The former works the same way, but it supplements an element's inner HTML instead of replacing it. <var>append()</var> makes our list-generation loop quite a bit simpler, because we don't have to generate all the HTML in one big string.

<code>
for (var i = 0; i &lt; 100; i++) {
  var item = "&lt;li&gt; #" + i;
  $('#substitute').append(item);
}
</code>

<p>
  Finally, let's look at a few methods for changing the appearance of an item. If you'd like to alter the inline style for an element, you can use the <var>css()</var> function, which takes as its inputs the name of the CSS property you want to change, followed by the value you'd like to give it. Try it out on the <var>blockquote</var> element that follows:

<blockquote>
  "I don't have to forgive my enemies. I've had them all killed."<br>
  --General Ramon Maria Naraez
</blockquote>

<code>
var quote = $('blockquote');
quote.css('border', '8px dotted #CCC');
quote.css('color', 'red');
quote.css('background-color', 'green');
</code>

<p>
  Like <var>html()</var>, <var>css()</var> is both a getter and a setter. If you don't provide a value as the second input to the function, it will retrieve the current value of that property. The best part of using this function to get CSS properties is that it's not limited to only inline styles. It will pull whatever the current computed style for the element is--meaning inline, stylesheet, and built-in styles. You can see this if you try to get the text-decoration style for our blockquote, which I have not set in any way on this page.

<code>
$('blockquote').css('text-decoration'); // should return "none"
</code>

  Be careful, though. The format that you get a property back from <var>css()</var> may not match the way you set it, or the way you expect. Asking for the <var>color</var> style of an element in Firefox currently gets formatted as an "rgb(0, 0, 0)"-style string, even if it was set with a regular color string like "black." It can also vary from browser to browser. Be sure to test your code as widely as possible, to make sure you handle differences in CSS implementation.

<h2>Stay Classy, jQuery</h2>

<p>
  When you call the <var>css()</var> function as a setter, it sets the styles inline. Of course, we're always taught that inline styles are a bad idea when writing HTML: they're repetitive, break up your code, and if you ever change the look of your site you have to go through each line of HTML to update the style attributes. It's much better practice to use a CSS class, thus separating the appearance of your site from its structure. The same is true of JavaScript, and jQuery's got your back:

<code>
var headline = $('h1');
headline.addClass('awesome');
//in addition to classes it already had, now has a class of "awesome"
headline.removeClass('awesome');
//and now just the "awesome" class has been removed, leaving others untouched
</code>

<p>
  By using classes instead of CSS properties, we keep our JavaScript separate from the look and feel of our site. Now, if we decide to give the page a style makeover, we don't have to hunt through many lines of JavaScript to find places where we might be setting styles via code. Whenever possible, use each web language only for the problems it's designed for:

  <ul>
    <li> <b>HTML</b>: structure and content
    <li> <b>CSS</b>: look and feel
    <li> <b>JavaScript</b>: interaction and behavior
  </ul>

  While it's sometimes frustrating that to develop web pages, we need to know (at least) three different languages, when they're broken out this way it's easy to see how we also benefit from this arrangement. Each of the three front-end web languages is well-suited to its task in a way that the others are not: it would be painful to write and style a page using only JavaScript, just as it is slow and difficult to do all your styling in your HTML, or write all of your interactions using CSS transitions. Using the right language for the right task makes our code simpler--and in a few chapters chapter, we'll learn about ways that JavaScript can create interactive elements that would be <i>impossible</i> in the other two.

<h2>Example Code</h2>

<p>
  It's time to practice on the console again. The following lines of code will help you explore <a href="http://api.jquery.com">the jQuery interface</a> a bit more, including its many handy functions for interacting with elements and their properties. Try typing each line into the console, and see what you get back, or what changes.

<code>
//Let's start with some animations
$('p').slideUp();
$('p').slideDown();

//Note that animations stack--by default, they don't overlap.
$('code').slideUp().slideDown();

//Let's mess with our links
$('a');

//Of course, it would be more fun to only mess with the sidebar links
$('aside').find('a');

//You can do that with a selector as well
$('aside a');

//But you can't go the other way: starting from links and finding asides
$('a').closest('aside');

//You can get information about an element's attribute using attr()
//Let's get the href for our links:
$('a').attr('href');

//Note that you only get the value from the first link.
//Setting an attribute, however, affects all elements.
$('a').attr('href', 'http://example.com');

//likewise, we can get the html for the first paragraph...
$('p').html();

//...or we can replace it for all of them.
$('p').html('This space intentionally left blank.');

//Remember to refresh to reset everything!

//Let's practice setting some styles
$('li').css('background', 'green');

//Many functions in jQuery will set multiple properties if you
//provide an object instead of individual arguments.
$('li').css({
  background: 'green',
  'margin-left': "40px", //you can set hyphenated properties by quoting them
  marginTop: '10px' //alternately, you can camelCase them
});
</code>

<p>
  These are some common uses of jQuery, but they're by no means exhaustive. One of the best ways to learn the library better is to decide on something you want to do--hide only links to certain domains! add a class to all elements inside another type of element! find elements that contain a certain word!--and then look through the <a href="http://api.jquery.com">jQuery Application Programming Interface (API) documentation</a> for functions that will help you accomplish that task. The API also includes information on what arguments are required, and which are optional for any given call. For example, <var>fadeOut()</var> has a default speed, but by calling <var>fadeOut('slow');</var>, we can change how fast the element disappears.

[@import snippets/scripts.html]

[@import snippets/foot.html]
